*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

table, th, td {
    border:1px solid black;
  }

  body{
    padding:2rem;
  }

  .section-form{
    margin-bottom: 2rem;
  }
  .section-form-input:first-child{
    margin-top: 1rem;
}
  .section-form-input{
    margin-bottom: 1rem;
   
  }

  .section-table-topic{
    margin-bottom: 1rem;
  }
  .table{
    width: 100%;
  }
  .display{
    text-align: center;
  }